# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
venv/
env/

# Node / Frontend build artifacts
frontend/node_modules/
frontend/dist/

# Temp data & logs
tmp_data/
LOGS_local
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
