<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="OncoTraceAI web interface" />
    <title>OncoTraceAI</title>
    <link rel="icon" href="/mammodemo/oncotraceai.webp" type="image/webp">
    <script type="module" crossorigin src="/mammodemo/assets/index-C7bK-ya8.js"></script>
    <link rel="stylesheet" crossorigin href="/mammodemo/assets/index-7LVO_SOS.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
